@font-face {
    font-family: 'bodonibook';
    src: url('bodoni_book-webfont.woff2') format('woff2'),
         url('bodoni_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
