$navbar-toggller-bg:$primary;

header{
    
    .navbar-light {
        .navbar-brand{
            img{
                max-width: 300px !important;
            }
        }
    }
    .navbar-toggler{
        span{
            display: block;
            width: 30px;
            height: 3px;
            margin-bottom: 5px;
            background-color: $navbar-toggller-bg;
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
    .navbar-nav{
        a{
            font-size: 1.4rem;
            line-height: 1.7rem;
            font-weight: $font-weight-normal;
            padding-bottom: 5px !important;
            letter-spacing: 1px;
            text-align: center;
            margin: 0px 15px !important;
            text-transform: uppercase;
            border-bottom: $border-transparent;
            &:hover{
                border-bottom: $border-hover;
            }
            
        }
        a.active{
            border-bottom: $border-hover;
        }
    }
}
